<app-navbar></app-navbar>
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let item of products">
      <div class="card text-white card-has-bg click-col"
           style="background-image:url('{{ item.images }}');">
        <img class="card-img d-none" src="{{ item.images }}"
             alt="{{item.title}}">
        <div class="card-img-overlay d-flex flex-column">
          <div class="card-body">
            <small class="card-meta mb-2">{{item.title}}</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">{{item.description}}</a></h4>
            <small>{{item.category}}</small>
          </div>
          <div class="card-footer">
            <div class="media">
              <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png"
                   alt="Generic placeholder image" style="max-width:50px">
              <div class="media-body">
                <h6 class="my-0 text-white d-block">{{item.brand}}</h6>
                <small>{{item.category}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<app-footer></app-footer>
