<div class="wrapper">
  <div class="logo">
    <img src="assets/images/avatars/cover.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    E-commerce
  </div>
  <form class="p-3 mt-3" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="email" name="email" placeholder="Email" formControlName="email">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" placeholder="Password" formControlName="password">
    </div>
    <div *ngIf="emails!.touched && emails!.invalid && formGroup!.invalid">
      <p class="small" style="color: #666"> <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>There was an error in your credintial</p>
    </div>
    <div *ngIf="isValid">
      <p class="small" style="color: #666"><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>Credintial Not Found</p>
    </div>
    <button class="btn mt-3" [disabled]="formGroup.status == 'INVALID'" type="submit">Login</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a routerLink="register">Sign up</a>
  </div>
</div>
