<div class="wrapper">
  <div class="logo">
    <img src="assets/images/avatars/cover.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    E-commerce
  </div>
  <form class="p-3 mt-3" [formGroup]="formGroup">
    <div class="form-field d-flex align-items-center">
      <span class="fa fa-envelope"></span>
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div *ngIf="email!.invalid && email!.touched" class="text-center">
      <p style="color: #666" class="small"  *ngIf="email!.errors?.['required']"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        the email is required field
      </p>
      <p style="color: #666" class="small"  *ngIf="email!.errors?.['email']"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        the email is not in valid format
      </p>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fa fa-user"></span>
      <input type="text" formControlName="name" placeholder="Your Name">
    </div>
    <div *ngIf="name!.invalid && name!.touched" class="text-center">
      <p style="color: #666" class="small"  *ngIf="name!.errors"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        the name is a required field with minimum 6 number of character
      </p>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fa fa-key"></span>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <div *ngIf="password!.invalid && password!.touched" class="text-center">
      <p style="color: #666" class="small"  *ngIf="password!.errors"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        The password is required and minimum is 9 numbers
      </p>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fa fa-key"></span>
      <input type="password" placeholder="Password" formControlName="passwordConfirm">
    </div>
    <div *ngIf="confirm!.invalid && confirm!.touched && confirm!.value != password!.value" class="text-center">
      <p style="color: #666" class="small" *ngIf="confirm!.value != password!.value"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        the password and confirm should be matched
      </p>
    </div>
    <button class="btn mt-3" [disabled]="formGroup.status == 'INVALID'" type="submit">Submit</button>
  </form>
</div>
